@tailwind base;
@tailwind components;
@tailwind utilities;


.x-animated-radio {
    animation: xAnimate 7s infinite;
}

.y-animated-radio {
    animation: yAnimate 5s infinite;
}

@keyframes xAnimate {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translate(20px, 10px);
    }
}

@keyframes yAnimate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translate(10px, 20px);
    }
}

.vertical-text {
    writing-mode: sideways-lr;
}

main:before {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: rotate(-10deg);
    scale: 250%;
    content: url('/assets/icons/nike-gray-logo.png');
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity: .20;
}

.span {
    display: inline-block;
    background-color: green;
    line-height: 34px;
    height: 35px;
}

.flip {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}