@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #1f2937 !important;
}

.x-animated-radio {
    animation: xAnimate 7s infinite;
}

.y-animated-radio {
    animation: yAnimate 5s infinite;
}

@keyframes xAnimate {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translate(20px, 10px);
    }
}

@keyframes yAnimate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translate(10px, 20px);
    }
}

.vertical-text {
    writing-mode: sideways-lr;
}

.back-nike-logo:before {
    position: absolute;
    top: 25%;
    left: -2rem;
    right: 0;
    scale: 90%;
    transform: rotate(-14deg);
    content: url('/assets/icons/nike-gray-logo.png');
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity: .20;
}

@media only screen and (min-width: 640px) {

    .back-nike-logo:before {
        position: absolute;
        top: 10rem;
        left: 5rem;
        transform: rotate(-10deg);
        scale: 120%;
        content: url('/assets/icons/nike-gray-logo.png');
        filter: alpha(opacity=50);
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
        opacity: .20;
    }

}

@media only screen and (min-width: 1024px) {

    .back-nike-logo:before {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: rotate(-10deg);
        scale: 250%;
        content: url('/assets/icons/nike-gray-logo.png');
        filter: alpha(opacity=50);
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
        opacity: .20;
    }

}

.span {
    display: inline-block;
    background-color: green;
    line-height: 34px;
    height: 35px;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.center-win {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}